/* ------------------------------------------------------- Vertical lines --- */
div#content,
div#nav-sub,
div#col-left h1,
div#col-mid h1,
div#sidebar h1,
div#minicalendar, div.minicalendar,
div#content blockquote,
#content .gccolumn .rightbox h1:first-child {
	border-top: 1px solid #365aa5;
}

/* ----------------------------------------------------------- Blockquote --- */
div#content blockquote .quote-begin {
	color: #365aa5;
	background-color: #fff;
}

/* ------------------------------------------------------ Site navigation --- */
div#nav-sub ul li.valgt a {
	color: #365aa5;
}
/*div#nav-sub a:active,*/ 
div#nav-sub a:visited, 
div#nav-sub a:link { 
	color: #4A4949; 	
	background-color: transparent; 
}
div#nav-sub a:hover { 
	color: #365aa5; 
	background-color: transparent;
	text-decoration: none; 
}

div#nav-sub ul li {
	background-image: url(/grafik/images/bullets/pile/hum_nav_lev1.gif);
}

div#nav-sub ul li:hover {
	background-image: url(/grafik/images/bullets/pile/hum_nav_lev1_select.gif);
}
div#nav-sub ul li li:hover {
	background-image: url(/grafik/images/bullets/3x3/hum.gif);
}
div#nav-sub ul li.valgt li a {
	color: #4a4949;
}
div#nav-sub ul li.valgt li a:hover {
	color: #365aa5;
}

div#nav-sub ul ul li, div#nav-sub ul ul li.valgt, div#nav-sub ul ul li.ikke-valgt {
background-image:url(/grafik/images/bullets/3x3/hum.gif);
}

div#nav-sub ul ul ul li, div#nav-sub ul ul ul li.valgt, div#nav-sub ul ul ul li.ikke-valgt {
background-image:url(/grafik/images/bullets/2x2/hum.gif);
}
/*--------------------------navigation head----------------*/
div#nav_head {
background:transparent url(/grafik/images/nav_head/hum_nav_head.gif) left bottom no-repeat;
}

/*------------------level 1 nav selected-----------------------------*/
#nav-sub li.valgt {
background-image:url(/grafik/images/bullets/pile/hum_nav_lev1_select.gif);
}

#nav-sub li.ikke-valgt {
background-image:url(/grafik/images/bullets/pile/hum_nav_lev1_select.gif);
}

/* --- Responsive knap -- */
#sidr-id-nav_head h1  {background-color: #365AA5;}
#responsive-menu-button {background-color: #365AA5;}
#responsive-menu-button:hover {background-color: #1D418C;}

div#branding-logo {
    top: 6px !important;
}
